<p id="notice"><%= notice %></p>

  <h2> Panier </h2>

  <ul>
      <% @cart.line_items.each do |item| %>
        <li> <%= item.picture.name %> x <%= item.quantity %> </li>
      <%end%>

  </ul>

<%= link_to 'Back', root_path %>
