<br><br><br><br><br><br><br><br><br><br>
<h1>Bienvenue, <%= current_user.first_name %></h1>


<%= link_to "Les utilisateurs", superadmin_users_path %>

<%= link_to "Les produits", superadmin_picture_index_path %>
<%= link_to "Les commandes", superadmin_orders_path %>
