<p id="notice"><%= notice %></p>


<p>
  <strong>Picture:</strong>
  <%= @line_item.picture.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @line_item.quantity %>
</p>


<%= link_to 'Back', line_items_path %>
