<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="style.css">

</head>
<body>

<div class="bs-component">
              <nav class="navbar navbar-expand-lg navbar-dark fixed-top semi-transparent">
                <a class="navbar-brand" href="/">Accueil</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/users/sign_up">S'inscrire</a>
                    </li>  
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    
                    <a href="/users/sign_in" class="btn-outline-gold" role="button" aria-pressed="true">Connexion<a>
                  </form>
                </div>
              </nav>
            </div>

<div class="hero-image">
 <div class="hero-text">
   <p style="font-size:70px; color : #D3A723">Bienvenue !</p>
   
   
 </div>
</div>
</body>
</html>
